/* init*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,
input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
body{cursor:default;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
body,button,input,select,textarea{font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB"}
address,cite,dfn,em,var{font-style:normal}
img,input,select{vertical-align:middle}
code,kbd,pre,samp{font-family:'宋体',courier new,courier,monospace}
small{font-size:12px}ol,ul{list-style:none}
a,a:hover{text-decoration:none}
a:hover{color:#EB8D01}
a{color:black}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
@font-face{ 
    font-family:FontAwesome; 
    src:url('../source/fontawesome/webfonts/fa-brands-400.eot'); 
    src:url("../source/fontawesome/webfonts/fa-regular-400.eot") format("embedded-opentype"), 
    url("../source/fontawesome/webfonts/fa-brands-400.woff2") format("woff2"), 
    url("../source/fontawesome/webfonts/fa-regular-400.woff ") format("woff"), 
    url("../source/fontawesome/webfonts/fa-regular-400.ttf") format("truetype"), 
    url("../source/fontawesome/webfonts/fa-regular-400.svg") format("svg"); 
    font-weight:normal; 
    font-style:normal; 
} 
body{
    /* background-color: antiquewhite; */
    background-color: #f9f9f9;
}
h2{
    color: #eb018a;
    padding-left:8px;
    display: inline-block;
    margin: 10px 0;
    text-overflow: ellipsis;
    border-left: 5px solid #eb018a;
    font: 18px/28px "微软雅黑",'黑体',sans-serif;
}
p{
    pading:10px 0;
}
#top{   
    height: 30px;
    z-index: 1000;  
}
#top::after{
    display:block;
    content: '';
    clear: both;
}

#toptitle{
    position:fixed;
    width: 100%;
    box-sizing: border-box;
    background:#eb018a;
    z-index: 999;
    padding:0 10%;
    /* border-top:5px solid rgb(150, 200, 30,.9) ; */
}
    #toptitle a{
        color: white;
        float: left;
        display: block;
        padding: 0 10px;
        height: 30px;      
    }
    #toptitle a img{
        width: 60px;
        display: block;
        background: rgb(255, 255, 255);
        position: relative;
        top: 5px;
        left: 0px;
        box-shadow: 5px 5px 5px #222222;
        /* border-color: #3F3F3F;
        border-width: 0 5px 5px;
        border-style: solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; */
    }

    .topleftul{
           
            float: left;
            line-height: 30px;
        }
    .toprightul{
           
            position: relative;
            float: right;        
        }
        .toprightul li{
            margin: 0 auto;
            line-height: 30px;
            float: left;
            /* border: 1px solid gray; */
        }
    .menu-item {
        color: white;
        float: left;
        position: relative;
        margin-right: 20px;
        height: 30px;
    }
    .menu-item:hover{
        background: #2b333b;
    }
        .menu-item:hover .sub-menu {
            display: block;  
         }
    .sub-menu {
        position: absolute;
        top: 100%;
        right: 0;
        border-radius: 0 0 4px 4px;
        min-width: 220%;
        z-index: 10;
        display: none;
        padding: 5px 0;
        background: #2b333b;
        line-height: 25px;
        font-size: 14px;
    }
        .sub-menu li{
            position: relative;
        }
            .sub-menu li a {
                padding: 0px 12px;
                color: #fff;
                display: block;
                line-height: 30px;
            }
            .sub-menu li a:hover {
                background-color:#eb018a;
                border-left: 5px solid #01B1EB;
            }
#go-to-top{
    position: fixed;
    bottom: 100px;
    right: 10px; 
    width: 35px;
    opacity: 0.9;
    z-index: 1000;
}
    .gototop{
        position: relative;
        height: 35px;
        margin-bottom: 1px;
        cursor: pointer;
        background-color: #7a6e6e;
        border-radius: 3px 0 0 3px;

    }
        .gototop i{

            display:block;
            height: 35px;
            width: 35px;
            
        }
            #gototop-up{
                background: url(../image/toolbars.png) -48px 100px;
                
            }

header{
    
    background: white;
    height: 150px;
    padding: 50px 0 10px;
    box-sizing: border-box;
    background-image: url(../image/headerl.png);
    
}
    
    header h1,header h4{
        display: block;
        width: 1100px;
        margin: 0 auto;
        
    }
    header h1{
        color: #eb018a;
        font-size:50px;
        line-height: 50px;
        text-shadow: 5px 5px 20px rgb(50, 50, 50);
       
    }
    header h4{
        font-size:20px;
        line-height: 30px;
        color: rgb(255, 255, 255,.8);
    }
strong{
    font-size: 1.3em;
}

nav{
    
    background:#01B1EB;
    height: 60px;
    padding: 0 8%;
    
}
    nav ul{
        
        margin: 0 auto;
    }
    nav li{
        font-size: 16px;
        color: aliceblue;
        float: left;
        position: relative;
        margin: 0 0Px;
    }
    nav a{
        display:block;
        color: aliceblue;
        padding: 0 30px;
        line-height: 60px;
    }
    nav a:hover{
        color: aliceblue;
    }
    nav li:hover{
        background:#eb018a;
        
    }
    
    nav .home{
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        left: 10px;
        top: calc(50% - 8px);
        display: block;
    }
    nav .others{
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        left: 10px;
        top: calc(50% - 8px);
        display: block;
    }
    
#search{
    float:right;
}
    .search-input {
        float: left;
        border-radius: 15px 0 0 15px;
        border: 0;
        margin: 15px 0;
        font-size: 13px;
        line-height: 22px;
        padding: 4px 8px;
        background-color: #fff;
        width: 140px;
        color: #b3b3b3;
        
    }
    .search-submit{
        float: left;
        background-color: #eb018a;
        border-radius: 0 15px 15px 0;
        height: 30px;
        color: #eee;
        padding: 0 10px;
        border: 0;
        cursor: pointer;
        margin: 15px 0;
    }
    
      
#main{
    width: 1100px;
    margin: 0 auto;
}
    #main::after{
        content: "";
        display: block;
        clear: both;
    }

#lside{
    width: 800px;
    float: left;
}   
#lsidetop{
    width: 100%;
    height: 200px; 
    margin-top: 20px;
}
    /* 左边切换菜单 */
    .lstopl{
        float: left;
        box-sizing: border-box;
        width: 20%;
        height: 100%;
        background: #2b333b;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }
        .lstopl ul{
            box-sizing: border-box;
            height: 100%;
            padding: 10px 0;
            
            
        }
            .lstopl li{
                height: 60px;
                padding-left: 10px;
            }
            .lstopl li:hover{
                background: rgb(255,255,255,.3);
            }
                .lstopl li a{
                    display: block;
                    height: 60px;
                    color: rgb(255,255,255,.6);
                    float: left;
                    line-height: 60px;
                    padding: 0 16px;
                    font-size: 16px;
                    font-weight: 400;
                }
                .lstopicon{
                    float: right;
                    padding-right: 10px;
                    padding-top: 22px;
                    height: 60px;
                    line-height: 60px;
                    color: rgb(255,255,255,.6);
                    box-sizing: border-box;
                    font-size: 16px;
                }
                /* 左边切换菜单结束 */
    .lstopr{
        float: left;
        box-sizing: border-box;
        width: 80%;
        height: 100%; 
        position: relative;
        /* border: 1px solid gray; */
        border-bottom-right-radius: 10px;
        border-top-right-radius: 10px;
        overflow: hidden;
    }

        .lstopr div img{
            display: block;
            width: 100%;
            
        }
        /* 一下为图片切换按钮 */

        .lstopr1 ul{
            background: rgb(0, 0, 0,.2);
            width: 58px;
            height: 20px;
            position: absolute;
            bottom: 20px;
            left: calc(50% - 29px); 
            border-radius: 10px;
            padding: 5px;
            box-sizing: border-box;
        }
        .lstopr1 li{
            background: rgb(255, 255, 255,.5);
            width: 10px;
            height: 10px;
            float: left;
            border-radius: 50%;
            margin:0 3px;
            
        }
        .lstopr2 ul{
            display: none; 
            width: 100%;
            height: 40px;
            position: absolute;
            bottom: calc(50% - 20px);
            left: 0; 
            border-radius: 0px;
            padding: 0px;
            box-sizing: border-box;
        }
        .lstopr:hover ul{
            display: block;
        }
            .lstopr2 li{
                width: 60px;
                height: 100%;
                float: left;
                background: #01B1EB;
                line-height: 40px;
                font-size: 30px;
                padding: 0 15px;
                color: white;
                box-sizing: border-box;                
            }
            .lstopr2 ul .lstopr2-1{
                float: left; 
            }
            .lstopr2 ul .lstopr2-2{
                float: right;
            }
            .lstopr1,.lstopr2{
                z-index: 10;
            }
            /* 图片切换按钮完成 */
#rside{
    width: 275px;
    float: right;
}

aside{
    
    background: linear-gradient(rgba(255,255,255,0.5) ,rgba(255, 200, 200, 0.5));
    padding: 20px;
    margin-bottom: 20px;
    border-top: 5px solid #01B1EB;
}

    aside a{
        display:inline-block;
        padding: 0 10px;
        font:14px/26px "宋体","新宋体",serif;  
        color: #01B1EB;
    }
    aside li a::before{
        content:"";
        display: inline-block;
        width: 10px;
        height: 10px;
        position:relative;
        left: -5px;
        border-width:5px;
        border-style: solid;
        border-color:  transparent transparent transparent #eb018a;
        box-sizing: border-box;
    }
    
    aside input{
        background: white;
        border:1px solid #3f3f3f;
        padding: 10px 15px;
        font-size: 16px;
        box-sizing: border-box;
        width: 100%;
    }
    aside:first-child{
        margin-top: 20px;
    }
    .littleicon{
        background: #EB8D01;
        border-radius: 3px;
        color: white;
        margin: 0 10px;
        padding: 0 5px;
    }
article{
    padding: 20px;
    background: rgb(255,255,255,.5);
    margin-bottom: 20px;
    border-top: 5px solid #01B1EB;
}

    article span{
        padding: 0 4px;
        background: #F4DFDF;
        border-color: #EABFBF;
        border-radius: 4px;
    }
  
    article:first-child{
        margin-top: 20px;
    }

.artmain{   
    font-size: 16px;
    padding-top: 20px;
}

table{
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;   
    font-size: 1rem;
    background: rgb(255,255,255,.5);
    width: 100%;
    margin: 0 0 1.5rem;
    border: 1px solid #d9d9d9;
    font-weight: 400;
    font-size: 1.5 rem;
    line-height: 2rem; 
    text-align: center;
}

th{
    border: 1px solid #3f3f3f;
    background: #3F3F3F;
    color: white;
    padding: 2px 5px;
}
tr{
    border: 1px solid #d9d9d9;
    
}
td{
    border: 1px solid #d9d9d9;
    padding: 5px 10px;
    
    overflow: hidden;
    white-space: nowrap;
}
footer{
    height: 160px;
    background: #2b333b;
    font-size: 16px; 
    text-align: center; 
    color: white;
    padding: 20px 0;
    box-sizing: border-box;
}

#focus{
    float:right;
    width: 100%;
    height: 300px;
    /* border: 1px solid gray; */
    box-sizing: border-box;
    margin: 10px 0;
    padding: 10px 20px ;
    background: linear-gradient( rgba(255,255,255,0.5) ,rgba(167, 236, 245, 0.719));
}
    #focus-img{
        float: left;
        margin: 10px;
        
    }
    #focus img{
        width: 300px;
    }
    #focus-content{
        width: 40%;
        float: left;
        font-size: 16px;
    }
#imgbox{
    padding:  20px;
    margin:  20px 0;
    background: rgb(255,255,255,.5);
    /* border-top:5px solid #eb018a; */
    
}
    .imgzoom{
        position: relative;
        display: block;
        float: left;
        border: 1px solid #eb018a;
        width: 200px;
        margin:10px 10px 10px 0px;
        overflow:hidden;
        box-sizing: border-box;
    }
    #imgbox img{       
        transition:all .3s ease-in-out;      
    }
    .imgzoom:hover img{
        transform: scale(1.1);   
    }
    #imgbox::after{
        content: "";
        display: block;
        clear: both;
    }
    .imgl2r{
        position: relative;
        display: block;
        float: left;
        border: 1px solid #eb018a;
        width: 340px;
        margin:10px 0px 10px 0px;
        overflow:hidden;
        box-sizing: border-box;
        
    }
    .imgl2r img{
        opacity: 0.7;
        transform: translate3d(-20px,0,0) ;
        transition: all .3s ease-in-out;
    }
    .imgl2r:hover img{
        transform: translate3d(0,0,0) ;
        opacity: 1;
    }
    .imgl2r p{
        display: block;
        position: absolute;
        top: 120px;
        left: 20px;
        z-index: 100;
        font-size: 40px;
        color: white;
        transform: translate3d(0,30px,0);
        transition: all .3s ease-in-out;
        opacity: 0;
    }
    .imgl2r:hover p{
        transform: translate3d(0,0,0);
        opacity:1;
    }

.musicbox{
    position:relative;
    margin:20px 0;
    padding: 10px 10px;
    width: 100%;
    height: 150px;
    background: linear-gradient(rgba(255,255,255,0.5) ,rgba(255, 200, 200, 0.5));
    float: left;
    box-sizing: border-box;
    border-top: 5px solid #eb018a;   
}
.musicbox h6{
    font-size: 14px;
    text-align: center;
    color: #01B1EB;
}
.musicbox audio{
    width: 100%;
    display: block;   
}
.musicbox h2::after{
    content: url(../image/tophot.gif);
    display: block;
    height: 0px;
    line-height: 14px; 
    position: absolute;
    left: 100px;
    top:  18px;
}