/* init*/
*{margin:0;padding:0;box-sizing: border-box;}
body,button,input,select,textarea{font:12px/1.5 "Microsoft Yahei",tahoma,arial,"Hiragino Sans GB"}
img,input,select{vertical-align:middle}
code,kbd,pre,samp{font-family:'微软雅黑','宋体',courier new,courier,monospace}
small{font-size:12px}
ol,ul{list-style:none}
a,a:hover{text-decoration:none}
a:hover{color:#01B1EB}
sup{vertical-align:text-top}sub{vertical-align:text-bottom}
fieldset,img{border:0}
table{border-collapse:collapse;border-spacing:0}
@font-face{ 
    font-family:"FontAwesome"; 
    src:url('../source/fontawesome/webfonts/fa-brands-400.eot'); 
    src:url("../source/fontawesome/webfonts/fa-regular-400.eot") format("embedded-opentype"), 
    url("../source/fontawesome/webfonts/fa-brands-400.woff2") format("woff2"), 
    url("../source/fontawesome/webfonts/fa-regular-400.woff ") format("woff"), 
    url("../source/fontawesome/webfonts/fa-regular-400.ttf") format("truetype"), 
    url("../source/fontawesome/webfonts/fa-regular-400.svg") format("svg"); 
    font-weight:normal; 
    font-style:normal; 
}

body{
    background-color: #2b333b;
}
h2{
    position: relative;
    color:  #ffc033;
    padding:8px 20px 8px 15px ;
    display:inline-block;
    background:#2d3f61;
    margin: 0px ;
    text-overflow: ellipsis;
    /* border-top: 5px solid #2d3f61; */
    font: 18px/22px "微软雅黑",'黑体',sans-serif;
    /* box-sizing: border-box; */
    z-index: 100;
    /* top: -19px; */
    /* left: 30px; */
}
h2::before{
    position: absolute;
    content: '';
    height:10px;
    width: 10px;
    transform: rotate(45deg);
    /* border: 5px solid #2d3f61; */
    top: 13px;
    right: -5px;
    box-sizing: border-box;
    background: #f9f9f9;
    z-index: -1;
}
h2::after{
    position: absolute;
    content: '';
    height: 5px;
    width: 5px;
    transform: rotate(45deg);
    border: 5px solid #2d3f61;
    top: 13px;
    left: -5px;
    box-sizing: border-box;
    z-index: 9;

}

h3 {
    display: inline-block;
    font: 22px/30px "微软雅黑";
    font-weight: 800;
    /* background: #8c51c7; */
    padding: 10px 20px ;
    color: #2d3f61;
    
    /* box-shadow: 5px 2px 5px rgba(51, 51, 51, 0.637); */
    
}

#top{   
    height: 30px;
    z-index: 1000;  
}
#publicmenu{
    float: left;
    width: 30px;
    height: 30px;
    display: block;
    margin-right: 10px;
    background: url('../image/toolbars.png') -228px -185px no-repeat;   
}
#publicmenu:hover{
    background: url('../image/toolbars.png') -228px -212px no-repeat;   
}
#top::after{
    display:block;
    content: '';
    clear: both;
}
#toptitle{
    position:fixed;
   
    width: 100%;
    box-sizing: border-box;
    background:#2d3f61;
    z-index: 1000;
    padding:0 5%;
}
    #toptitle a{
        color: white;
        float: left;
        display: block;
        padding: 0 10px;
        height: 30px;  
        font: 14px/30px "IMPACT","微软雅黑";   
    }
    #toptitle a img{
        width: 80px;
        display: block;
        /* background:rgba(255, 255, 255, 0.8); */
        position: relative;
        top: -2px;
        left: 0px;
        /* box-shadow: 5px 5px 5px #2b333b; */
        /* border-color: #3F3F3F;
        border-width: 0 5px 5px;
        border-style: solid;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px; */
    }
    #stock{
        color: white;
        margin-right: 30px;
        height: 30px;
        overflow: hidden;
    }
    #weather{
        
        /* border: 1px solid  #01B1EB; */
        margin-bottom:20px; 
    }
    #weather ul li{
        color: #01B1EB;
        padding: 5px 0;
        border-bottom: 1px solid #ffc033;
    }
    #select-city{
       margin-left:10px;
    }
    .topleftul{
            float: left;
            line-height: 30px;
            height: 30px;
        }
    .toprightul{
            position: relative;
            float: right; 
            height: 30px;       
        }
        .toprightul li{
            margin: 0 auto;
            line-height: 30px;
            float: left;
        }
    .menu-item {
        color: white;
        float: left;
        position: relative;
        margin-right: 20px;
        height: 30px;
    }
    .menu-item:hover{
        background: #2b333b;
    }
        .menu-item:hover .sub-menu {
            display: block;
            animation: hidden 0.3s ; 
         }
    .sub-menu {
        position: absolute;
        top: 40px;
        right: 0;
        border-radius:5px;
        min-width: 220%;
        z-index: 10;
        display: none;
        padding: 5px 0;
        background: #2b333b;
        line-height: 25px;
        font-size: 14px;
        box-shadow:3px 3px 6px rgba(0, 0, 0, 0.28);
    }
        .sub-menu::before{
            position: absolute;
            top:-20px;
            right: 20px;
            content: "";
            height:20px;
            width:20px;
            box-sizing: border-box;
            border-width: 10px;
            border-style: solid;
            border-color: transparent transparent #2b333b transparent;
        }
        .sub-menu li{
            position: relative;
            float: right;
        }
            .sub-menu li a {
                padding: 0px 12px;
                color: #fff;
                display: block;
                line-height: 30px;
            }
            .sub-menu li a:hover {
                background-color:#eb018a;
                /* border-left: 5px solid #01B1EB; */
            }
@keyframes hidden{
    0%{ opacity: 0; transform: translate(0px, -60px) }
    100% {opacity: 1; transform: translate(0, 0px) }
}
@keyframes nav{
    0%{background:none;}
    100%{background: #eb018a}
}
#go-to-top{
    position: fixed;
    bottom: 100px;
    right: 10px; 
    width: 35px;
    opacity: 0.9;
    z-index: 1000;
    display: block;
}
    .gototop{
        position: relative;
        height: 35px;
        margin-bottom: 1px;
        cursor: pointer;
        background-color: #7a6e6e;
        border-radius: 3px 0 0 3px;
    }
    .gototop:hover{
        background-color:#eb018a;
    }
        .gototop i{
            position: relative;
            display:block;
            height: 35px;
            width: 35px;
            
        }
            #gototop-up{ 
                background: url(../image/toolbars.png) -48px 100px;              
            }
            
            .totoptip{
                
                
                position: absolute;
                top:0;
                left: -75px;
                font-size: 14px;
                color: white;
                line-height: 35px;
                background: #eb018a;
                padding: 0 5px;
                border-radius: 4px;
                box-sizing: border-box;
                box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
               
                z-index:1000;
            }
            .totoptip::after{
                position: absolute;
                top:12.5px;
                right:-10px;
                content:"";
                width:10px;
                height:10px;
                display:block;
                border-width: 5px;
                border-style: solid;
                border-color: transparent transparent transparent #eb018a ;
                box-sizing: border-box;
            }
            #gototop-up + .totoptip{
                opacity: 0;
                transform: translateX(10px);
                transition: all .3s ease-in-out;
            }
                        #gototop-up:hover + .totoptip{
                            opacity: 1;
                            transform: translateX(0px);
                        }
            
header{
   
    height: 150px;
    padding: 50px 0 10px;
    box-sizing: border-box;
    background: url(../image/headerl2.jpg);
    width: 100%;
    overflow: hidden;
}
    header h1,header h4{
        display: block;
        width: 1100px;
        margin: 0 auto;
    }
    header h1{
        color: #eb018a;
        font-size:50px;
        line-height: 50px;
        text-shadow: 5px 5px 20px rgb(50, 50, 50);
    }
    header h4{
        font-size:20px;
        line-height: 30px;
        color: #F3A92A;
    }
strong{
    font-size: 1.3em;
}
nav{
    /* background: rgb(0, 150, 200); */
    background: #2d3f61;
    /* background:linear-gradient(#00EDFF,#01B1EB); */
    height: 60px;
    padding: 0 8%;
}
    nav ul{
        margin: 0 auto;
    }
    nav li{
        font-size: 18px;
        color: aliceblue;
        float: left;
        position: relative;
        margin: 0 0Px;
    }
    nav a{
        display:block;
        color: aliceblue;
        padding: 0 30px;
        line-height: 60px;
    }
    nav a:hover{
        color: aliceblue;
    }
    nav li:hover{
        background:#eb018a;
        animation: nav .3s;
    }
    nav .home{
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        left: 10px;
        top: calc(50% - 8px);
        display: block;
    }
    nav .others{
        position: absolute;
        content: '';
        height: 0px;
        width: 0px;
        left: 10px;
        top: calc(50% - 8px);
        display: block;
    }
#search{
    float:right;
}
    .search-input {
        float: left;
        border-radius: 15px 0 0 15px;
        border: 0;
        margin: 15px 0;
        font-size: 13px;
        line-height: 22px;
        padding: 4px 8px;
        background: #f9f9f9;
        width: 140px;
        color: #b3b3b3;
        outline: none;
    }
    .search-submit{
        float: left;
        background: #f9f9f9;
        border-radius: 0 15px 15px 0;
        height: 30px;
        color: #b3b3b3;
        padding: 0 10px;
        border: 0;
        cursor: pointer;
        margin: 15px 0;
        outline: none;
    }
    .search-submit:hover{
        background:#eb018a;
        color: #f9f9f9;
    }
#main{
    width: 85%;
    margin: 0px auto;
    background: #f9f9f9;
    padding: 0 15px;
}
    #main::after{
        content: "";
        display: block;
        clear: both;
    }
#wrapper {
    width: 100%;
    background: #fff;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px ;
}
#lside{
    width: 74%;
    float: left;
}   
#lsidetop{
    position: relative;
    width: 100%;
    height: 300px; 
    margin-top: 20px;
    overflow: hidden;
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 5px #b99696e5; */
}
    
    #imgbox{
        position: relative;
        top:-150px;
        /* background: rgb(255,255,255,.5);
        border-top:5px solid #eb018a; */
        height: 100%;
    }
    #imgbox ul{
        position: absolute;
        left: 0;
        top: 0;
        width: 600%;
        height: 100%;
        box-sizing: border-box;
    }
    #imgbox ul li{
        float: left;
    }
    #imgturn{
        position: relative;
        display: block;
        float: left;
        width: 100%;
        box-sizing: border-box;    
    }
    /* 图片缩放 */
        .imgzoom{
            position: relative;
            display: block;
            float: left;
            box-sizing: border-box;
        }
        #imgbox img{
            width: 850px;       
            transition:all .3s ease-in-out;      
        }
        .imgzoom:hover img{
            transform: scale(1.1);   
        }
        #imgbox::after{
            content: "";
            display: block;
            clear: both;
        }
        /* 图片滑动 */
        .imgl2r{
            position: relative;
            display: block;
            float: left;
            /* border: 1px solid #eb018a; */
            width: 100%;
            margin:0px 10px 10px 0px;
            overflow:hidden;
            /* box-sizing: border-box; */
        }
        .imgl2r img{
            opacity: 0.7;
            transform: translate3d(-30px,0,0) ;
            transition: all .4s ease-in-out;
            border: 0px;
            box-sizing: border-box;
        }
        .imgl2r:hover img{
            opacity: 1;
            /* border-top: 10px solid #eb018a; */
            transform: translate3d(0,0,0) ;
        }
        .imgl2r p{
            padding: 0 10px;
            width: 100%;
            display: block;
            position: absolute;
            top: 240px;
            left: 0px;
            z-index: 100;
            font-size: 30px;
            line-height: 60px;
            color: rgb(7, 7, 7);
            transform: translate3d(0,60px,0);
            transition: all .35s ease-in-out;
            opacity: 0;
            background: #ffffff;
        }
        .imgl2r:hover p{
            background: #ffffffbb;
            transform: translate3d(0,0,0);
            transition-delay: .15s;
            opacity:1;
        }
    /* 图片滑动结束 */
    /* 一下为图片切换按钮 */
    
        .lstop1 ul{
            background: #222222;
            height: 20px;
            position: absolute;
            bottom: 20px;
            left: calc(50% - 45px); 
            border-radius: 10px;
            padding: 5px;
            box-sizing: border-box;
            z-index: 10;
        }
        .lstop1 li{
            background: #01B1EB;
            width: 10px;
            height: 10px;
            float: left;
            border-radius: 5px;
            margin:0 5px;            
        }
        .lstop1 li.current{
            background: #eb018a;
            transition: all .2s;
            width: 20px;
            margin: 0;
        }
        .lstop1 li.hidden{
            background: #01B1EB;
        }
        .lstop2{
            position: relative;
            top: calc(50% - 20px);
            height: 40px;
        }
        .lstop2 ul{
            display: none; 
            width: 100%;
            height: 40px;
            position: absolute;
            bottom: calc(50% - 20px);
            left: 0; 
            border-radius: 0px;
            padding: 0px;
            box-sizing: border-box;
            z-index: 10;
            overflow: hidden;
        }
        #lsidetop:hover ul{
            display: block;
        }
            .lstop2 li{
                width: 60px;
                height: 100%;
                float: left;
                background: #01B1EB;
                line-height: 40px;
                font-size: 30px;
                padding: 0 15px;
                color: white;
                box-sizing: border-box;                
            }
            .lstop2 ul .lstop2-1{
                float: left; 
            }
            .lstop2 ul .lstop2-2{
                float: right;
            }
            .lstop1,.lstop2{
                z-index: 10;
            }
            /* 图片切换按钮完成 */
#rside{
    min-width: 110px;
    width: 24%;
    float: right;
}
aside{
    /* background: linear-gradient( rgba(255, 200, 200, 0.5),rgba(255,255,255,0.5)); */
    padding: 0px;
    margin-bottom: 20px;
    /* border-top: 5px solid #01B1EB; */
    /* box-shadow: 5px 5px 5px #b99696e5; */
    
}
    aside li{
        position: relative;
    }
    aside a{      
        color:  #2d3f61;
        display:block;
        padding: 5px 20px ;
        font:15px/24px "微软雅黑","宋体",serif;
        font-weight: bold; 
        border-bottom: 1px solid #ffe6ad; 
    }
    aside a:hover{
        background: #beb9b9;
    }
    aside li a::before{
        content:"";
        display: inline-block;
        width: 10px;
        height: 10px;
        position:relative;
        left: -20px;
        border-width:3px;
        border-style: solid;
        border-color:  #eb018a80;
        box-sizing: border-box;
        border-radius: 50%;
    }
    aside:first-child{
        margin-top: 20px;
    }
    .littleicon{
        position:absolute;
        top: 8px;
        right: 30px;
        background: #EB8D01;
        border-radius: 3px;
        color: white;
        margin: 0 10px;
        padding: 0 5px;
    }
article{
    position: relative;
    padding-top: 10px;
    /* background: linear-gradient(rgba(255,255,255,0.5) ,rgba(255, 200, 200, 0.5)); */
    margin-bottom: 20px;
    /* border-bottom: 1px solid #ffe6ad; */
    border-bottom: 2px solid #b3b3b3;
    font-size: 16px;   
    /* border: 1px solid red; */
    /* box-shadow: 5px 5px 5px #b99696e5; */
}

article i::before{
    /* font-family:"FontAwesome"; */
    /* content: "\f103"; */
    
    display: block;
    width:20px;
    height: 20px;
    border-radius: 50%;
    color: #eb018a;
    border-style: solid;
    position: absolute;
    right: 5px;
    top:20px;
    border-width: 2px;
    z-index:100;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.artmain{
    margin: 20px;
    white-space: 1px;
}
article p{
    padding: 5px 0px;
}
.signature{
    color:#F3A92A;
    font-size: 12px;
    padding-left: 10px;
    margin-bottom: 10px;  
}
    article span{
        padding: 0 4px;
        background: #F4DFDF;
        border-color: #EABFBF;
        border-radius: 4px;
    }
    
table{
    font-family: "Fira Sans", "Source Sans Pro", Helvetica, Arial, sans-serif;   
    font-size: 1rem;
    background: rgb(255,255,255);
    width: 100%;
    margin: 0 ;
    border: 1px solid #d9d9d9;
    font-weight: 400;
    font-size: 1.5 rem;
    line-height: 2rem; 
    text-align: center;
    /* box-shadow: 5px 5px 5px #b99696e5; */
}
th{
    border: 1px solid #3f3f3f;
    background: #3F3F3F;
    color: white;
    padding: 2px 5px;
}
tr{
    border: 1px solid #d9d9d9;
}
td{
    border: 1px solid #d9d9d9;
    /* padding: 5px 10px; */
    overflow: hidden;
    white-space: nowrap;
}
#focus{
    
    width: 100%;
    /* height: 300px; */
    border-bottom: 2px solid #b3b3b3;
    box-sizing: border-box;
    margin: 10px 0;
    padding: 0px;
    /* background: linear-gradient( rgba(255,255,255,0.5) ,rgba(167, 236, 245, 0.719)); */
    /* box-shadow: 5px 5px 5px #b99696e5; */
}
#focus h3{
    font-size: 18px;
}
    #focus-img{
        float: left;
        margin: 5px 10px 5px 0;
    }
    #focus img{
        width: 350px;
        margin-right: 10px;
    }
    #focus-content{
        font-size: 16px;
        /* margin: 10px; */
    }
#musicbox{
    position:relative;
    margin:20px 0;
    padding: 0px ;
    width: 100%;
    
    background: linear-gradient(rgba(255,255,255,0.5) ,rgba(255, 200, 200, 0.5));
    /* float: left; */
    box-sizing: border-box;
    /* border-top: 5px solid #01B1EB; */
    /* box-shadow: 5px 5px 5px #b99696e5;    */
    /* border: 1px solid #01B1EB; */
}
#musicbox ul{
    overflow: hidden;
    /* border: 1px solid #01B1EB; */
   
}
#musicbox h6{
    font: 600 16px/22px 'IMPACT','微软雅黑','宋体';
    text-align: center;
    color: #01B1EB;
    padding: 30px 0 20px;
    
}

#musicbox audio{
    width: 100%;
    height: 50px;
    display: block;
    color: #EABFBF;   
}
#musicbox h6::after{
    content: url(../image/tophot.gif);
    display: block;
    height: 0px;
    line-height: 14px; 
    position: absolute;
    right: 50px;
    top:  50px;
   
}
#musiccover{
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    overflow: hidden;
    vertical-align: middle;
}
#musiccover img{
    position: relative;
    width: 150px;
    left: -25%;
}
#musicplay,#musicprevious,#musicnext{
    position: relative;
    margin: 3px;
    
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 2px 2px 10px #3F3F3F;   
    text-align: center;
    font-weight: 800; 
    
    /* display: block; */
}
#musicplay:hover,#musicprevious:hover,#musicnext:hover{
    background: #01B1EB;
}

#musicplay::before{
    content: '';
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 30%;
    box-shadow:2px -2px 10px rgba(42, 53, 80,0.8);
    transform: rotate(45deg) ;
    
    border-width: 10px;
    border-style: solid;
    /* border-color:   #f9f9f9 #f9f9f9 transparent transparent; */
    box-sizing: border-box;
}
#musicprevious::before{
    content: '';
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 35%;
    /* background: white; */
    transform: rotate(45deg);
    border-bottom: 7px solid #f9f9f9;
    border-left: 7px solid #F4DFDF;
    box-sizing: border-box;
    box-shadow: -2px 2px 0px rgba(42, 53, 80,0.8);

}
#musicnext::before{
    content: '';
    width: 40%;
    height: 40%;
    position: absolute;
    top: 30%;
    left: 25%;
    transform: rotate(45deg);
    border-top: 7px solid #f9f9f9;
    border-right: 7px solid #F4DFDF;
    box-sizing: border-box;
    box-shadow: 2px -2px 0px rgba(42, 53, 80,0.8);

}
.normal{
    background: #eb018a;
    color: #f9f9f9;
    transform: rotate(0deg);
}
.pushdown{
    color: #f9f9f9;
    background: #01B1EB;
    transform: rotate(45deg) ;
    transition:  all 2s ease-in-ease;
}
#musiccontrol{
    padding: 5px 0 20px;
    position: relative;
    display: block;
    overflow: hidden;
}
#musiccontrol div{
    min-width: 110px;
    margin: 0 auto;
    position: relative;
    padding: 0 15%;
    
}
#musicplay{
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
    line-height: 50px;
}
#musicprevious{
    float: left;
}
#musicnext{
    float: right;
}
#musicprevious,#musicnext{ 
    width: 40px;
    height: 40px;
    line-height: 40px;
    top: 5px;
    position: relative;
}


.su_button_circle{
    background-color: red;
    border-radius: 1000px;
    position: absolute;
    left:0;
    top:0;
    width: 10px;
    height: 10px;
    margin-left: 0px;
    margin-top: 0px;
    pointer-events: none;
    /*animation-timing-function: ease-in-out; */
  }
  @keyframes explode {
    0% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(42, 53, 80,0.2);
    }
    100% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(20, 180, 87,0.8);
    }
  }
  @keyframes desplode {
    0% {
      width: 400px;
      height: 400px;
      margin-left: -200px;
      margin-top: -200px;
      background-color: rgba(20, 180, 87,0.8);
    }
    100% {
      width: 0px;
      height: 0px;
      margin-left: 0px;
      margin-top: 0px;
      background-color: rgba(129, 80, 108,0.6);
    }
  }
  .explode-circle {
    animation: explode 0.5s forwards;
 }
 .desplode-circle{
    animation: desplode 0.5s forwards;
 }

.current_nav{
    font-size: 14px;
    padding: 10px;
    margin: 10px 0;
    border-bottom: 5px solid #01B1EB;
}
    .current_nav .sub{
        margin: 0 5px;
    }
.post_title{
    margin: 5px 0;
    padding: 0 20px;
    text-align: center;
    /* text-align: center; */
    border-top: 5px solid #eb018a;
}
.post_title:hover{
    background: #01B1EB;
}
/* 电视直播 */
.channel{
    float: left;
}
.channeltab{
    cursor: pointer;
}
.videoiframe{
    width: 960px;
    height:540px;
    display: block;
    float: right;
    margin-bottom: 20px;
}
.musicbox:hover,aside:hover,article:hover{
    /* border-left: 5px solid gray; */
    /* background: linear-gradient(white,#f16bb980); */
    /* border-radius: 10px; */
    /* box-shadow: 5px 5px 5px #b99696e5; */
    transform: translate3d(5,5,10);
    transition: all .2s;
}
table:hover,#lsidetop:hover,#focus:hover{
    /* box-shadow: 5px 5px 5px #b99696e5; */
    transform: translate3d(5,5,10);
    transition: all .2s;    
}
footer{
    height: 160px;
    background: #2b333b;
    font-size: 16px; 
    text-align: center; 
    color: rgb(150, 150, 150);
    padding: 20px 0;
    box-sizing: border-box;
}
    footer h3{
        position: relative;
        color: #777;
        display: block;
        margin: 20px auto;
        height: 10px;
        text-align: center;
        border: 1px solid #000;
        border-bottom: none;
        font-size: 16px;
        letter-spacing: normal;
        border-radius: 4px 4px 0 0;
        padding: 0;
    }
    .footer_top{
        padding: 0 30%;
    }
    .footer_top h3::after{
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        content: '';
        display:block;
        border: 1px solid rgb(68, 68, 68);
        border-bottom: none;
        border-radius: 4px 4px 0 0;
    }
    .footer_top h3 span{
        display: inline-block;
        position: relative;
        top: -1em;
        padding: 3px 10px;
        text-transform: uppercase;
        text-shadow: #000 0 1px 0;
        background: #2b333b;
        z-index: 1;
    }
    .footer_bottom{
        width: 50%;
        float: left;
        margin-left: 25%; 
        position: relative;
    }
    .footer_line{
        top: 30px;
        left: 0px;
        width: 100%;
        height: 10px;
        content: '';
        display:block;
        border: 1px solid #000;
        border-top: none;
        border-radius: 0 0 4px 4px ;
    }
    .footer_bottom::after{
        position: absolute;
        top: 25px;
        left: 0px;
        width: 100%;
        height: 10px;
        content: '';
        display:block;
        border: 1px solid rgb(68, 68, 68);
        border-top: none;
        border-radius: 0 0 4px 4px ;
    }
#bigimg{
    width: 100%;
    height: 400px;
    overflow: hidden;
}
#bigimg img{
    position: relative;
    width: 110%;
    top: -50%;
    left: -10%;
}
#imgtitle{
    height: 50px;
    padding:0;
    line-height: 50px;
    font-size: 18px;
}
#imglist{
    box-sizing: border-box;
    margin: 0px ;
    /* background: linear-gradient( rgba(255,255,255,0.5) ,rgba(167, 236, 245, 0.719)); */
}
#imglist ul{
    padding: 0 auto;
}
#imglist::after{
    content: "";
    height: 20px;
    display:block;
    clear:both;
}
#imglist li{
    width: 49%;
    overflow: hidden;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.28);
    height: 350px;
}
#imglist li:hover{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.58);
    transition: all 0.3s;
}
#imglist img{
    position: relative;
    display: inline-block;
    
    width: 800px;
}
#tab2, #tab3,#tab4{
    width: 40px;
}
#tab1 input {
    width: 40px;
    height: 30px;
    border-radius: 5px;
    background: rgb(248, 209, 233,0.5);
    outline: none;
    margin: 0;
}
#tab1 [type=text] {
    width: 240px;
    height: 50px;
    text-align: right;
    font-size: 30px;
}
#jisuanqi{
    display: none;
    position: absolute;
    /* width: 200px; */
    right: 0px;
    top: 30px;
    z-index: 1002;
    /* overflow: hidden; */
}
@media only screen and (max-width: 1080px) {
    
    #main{
        width: 100%;
        margin: 0;
    }
}
